<html>
  <head>
    <title>Meral'in Blogu</title>
  </head>
  <head>
       <title>Django Girls blog</title>
   </head>
   <body>
       <div>
           <h1><a href="">Django Girls Blog</a></h1>
       </div>

       <div>
           <p>published: 14.06.2014, 12:14</p>
           <h2><a href="">İlk Blogum</a></h2>
           <p>Çok heyecanlıyım! Bu benim ilk blogum. Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. </p>
       </div>

       <div>
           <p>published: 14.06.2014, 12:20</p>
           <h2><a href="">İkinci gönderim</a></h2>
           <p>Bir varmış bir yokmuş, evvel zaman içinde Ne kadar zevkli bir işmiş bilgisayarlarla uğraşmak. Artık bilgisayar başından kalkmam. kalbur saman içinde, develer tellal iken, pireler berber iken; ben annemin beşiğini tıngır mıngır sallar iken.</p>
       </div>
   </body>

</html>
